@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@400;500&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/move-down.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth !important;
    text-align: center;
}

a {
    text-decoration:none;
    color: #9f9f9f;
 }

p {
    text-decoration:none;
    color: #9f9f9f;
 }

body {
    font-size: 100%;
    font-family: 'Raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;

}



.icon{
    height: 30px; 
    padding-right: 15px;
    border-radius: 50%;
}

.nome-icon{
    display: flex;
    flex-direction: row;
   
}
.header-principal {
    display: flex;

    justify-content: center;
    padding: 20px;
    background-color: rgb(21, 21, 21);

    position: sticky;
   
    z-index: 20;
    top: 0; 
    border-bottom: 1px solid rgb(28, 30, 97);
    align-items: center;

}


.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    
}
.nav-list ul li a{
    color: #fff;
}

.header-ancora {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    transition: transform .5s;
    color: #fff;
}

/*effect-underline*/

.header-ancora:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    /* background-color: rgb(28, 30, 97); */
    background-color: rgb(42, 46, 160);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }


  .header-ancora:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }











.header-botao{
    font-family: 'Raleway';
    font-weight: 400px;
    font-size: 11px;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    border: none;
    background-color:  rgb(28, 30, 97);
    color: white;
}

.mobile-menu-icon{
    display: none;
}


.mobile-menu {
    display: none;

}

.container{
    display: flex;
    flex-direction: column;
}

.section-teste {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-image: url("https://i.pinimg.com/564x/f5/5a/9d/f55a9d10b317dd2096043b255dbb8d89.jpg"); */
    background-image: url("https://i.pinimg.com/564x/95/14/4f/95144f08b9fc55097cf4c99aa1b53f5c.jpg");
    background-color: black;
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
    background-position: center -0%;
    background-size:20%;
    border-bottom: rgb(28, 30, 97) solid 3px;

}

.min-title{
    margin-bottom: -30px;
    font-size: 9px;
    letter-spacing: 3px;
}

.section-sobre-mim{
    border-bottom: rgb(28, 30, 97) solid 3px;
    padding-bottom: 150px;
    
    background-image: url("https://cdn.discordapp.com/attachments/739575553253834754/1087210450170695780/95144f08b9fc55097cf4c99aa1b53f5c-ConvertImage.jpg");
    background-color: black;
    background-repeat: repeat-x;
    
    background-attachment: local; 
    background-size:800px;

}




.main-imagem {

    margin-top: 33px;
    width: 150px;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
    border: rgb(50, 54, 170) solid 0.3px;
    
}
.section2-imagem {

    margin-top: 33px;
    width: 150px;

    border-radius: 50%;
    height: 150px;
    background-image: url("https://i.pinimg.com/564x/a0/4d/92/a04d920e3f977215f356c8cb770eb631.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    border: rgb(240, 240, 240) solid 0.3px;
 
}




@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px); 


    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-10px); 

    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px); 


    }
  }



.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-3{
    background-image: url("https://i.pinimg.com/564x/95/14/4f/95144f08b9fc55097cf4c99aa1b53f5c.jpg");
    background-color: black;
    background-repeat: repeat-x;
    background-position: center 80%;
  
    background-size:-10%;
}


.titulo {
    text-align: center;
    font-size: 30px;
    color: #fff;

}



.titulo-1 {
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 2px #111111;
    
}
.titulo-2 {
    color: #fff;
    text-shadow: 2px 2px #111111;
    
}
.software {
    margin-top: 30px;
    color: rgb(47, 51, 165);
    text-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 1em blue;
 
    /* animation: colorRotate 17s infinite alternate; */
}

.redes-sociais-section1 {

    height: 35px;
    margin: 5px;
}


.dad-botao1{
    display: flex;
    flex-direction: row;
    align-content: center;


}

.botao-1{
    display: inline-block;
    background-color:rgb(28, 30, 97);
    padding: 0.75rem 1.9rem;
    border-radius: 300px;
    border: none;
    color: white;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(92, 98, 182, 0.4);
    
}

.rodape{
    font-size: 10px;
    padding: 2%;
    background-color: rgb(21, 21, 21);
    border-top: rgb(28, 30, 97) solid 0.2px;
}
.rodape div a{
    color: #d5d5d5;
}

.habilidadepng {
    transition: transform .2s;
    height: 50px;
    margin: 10px;
}

.habilidadepng:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
    transform: scale(1.5);

}



.projetos-pai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    
}
.projeto-filhos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 400px;
    margin-top: 50px;
}

.projetos-png{
    width: 400px;
    height: 200px;
    
    border-radius: 10px;
    border: rgb(28, 30, 97) solid 0.5px;

}

.projetos-title{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}

.projetos-desc {
    font-size: 15px;
}

.projeto-adendo{
    color: #555657;
}



.end-projetos{
    margin-top: 20px;
}


.subir{
    margin-top: 170px;
}

.diminuir{
    margin-top: 0px;
    font-size: 10px;
}

.aprese-descri{
    font-size: 14px;
    color: #9f9f9f;
}

.hue{
    color: rgb(37, 40, 127);;
    /* animation: colorRotate 17s infinite alternate; */
    
}

.medium-text {
    font-size: 40px;
    color: #fff;
}

.text-sobre{
    max-width: 700px;
}

.text-space{
    letter-spacing: 2px;
}

@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }


@media screen and (max-width: 991px) {
    .projetos-pai{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .aprese-descri{
        max-width: 350px;
    }
    .text-sobre {
        max-width: 350px;
    }
    .medium-text {
        font-size: 30px;
        
    }
    .projeto-filhos{
        max-width: 300px;
        margin-top: 50px;
    }
    .projetos-png {
        width: 350px;
    }
    .titulo-1{
        font-size: 35px;
    }
    .titulo-2{
        font-size: 35px;
    }
    .nav-list {
        display: none;
    }
    .header-botao{
        display: none;
    }
    .skill-list{
        max-width: 350px;
    }
    .header-botao-mobile {
        font-family: 'Raleway';
        font-weight: 400px;
        font-size: 11px;
        border-radius: 20px;
        height: 30px;
        width: 140px;
        border: none;
        background-color:  rgb(28, 30, 97);
        color: white;
    }
    .header-nav {
        display: flex;
        align-items: center;
        gap: 100px;
        color: #fff;
    }


    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;

    }


    .mobile-menu.open{
        display: block;
    }
    .mobile-menu ul{
        display: flex; 
        flex-direction: row;
        margin-top: 30px;
        gap: 30px;
    }
    .mobile-menu ul li a{
        color: white;
    }
    .mobile-header-text{
        list-style: none;
    }
    .header-principal{
        flex-direction: column;
    }
    
    .mobile-header-text:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(28, 30, 97);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .mobile-header-text:hover {
        transform: scaleX(1.1);
      }
    
      .mobile-header-text:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      .section-teste {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        /* background-image: url("https://i.pinimg.com/564x/f5/5a/9d/f55a9d10b317dd2096043b255dbb8d89.jpg"); */
        background-image: url("https://i.pinimg.com/564x/95/14/4f/95144f08b9fc55097cf4c99aa1b53f5c.jpg");
        background-color: black;
        background-repeat: repeat-x;
        /* background-attachment: fixed; */
        background-position: center -0%;
        background-size:55%;
    
    }
    .section-sobre-mim{
        background-image: url("https://cdn.discordapp.com/attachments/739575553253834754/1087210450170695780/95144f08b9fc55097cf4c99aa1b53f5c-ConvertImage.jpg");
        background-color: black;
        background-repeat: repeat-x;
        /* background-attachment: fixed; */
        background-position: center -0%;
       
    
    }

  }


